 .link{
    text-decoration: none;
    color: black;
}

.post-list {
    border: 5px solid #ddd;
    padding: 2rem;
    margin-bottom: 1rem;
}

img{
  height: 90% !important;
}

.post-list:hover{
    background-color: #eee;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background-color: #222;
    margin-bottom: 2%
}

code[class*="language-"], pre[class*="language-"] {
    color: #fcfcfc;
}
