.link{
    text-decoration: none;
    color: black;
}


.link:hover{
    text-decoration: none;
}

.post-list {
    border: 6px solid #222;
    padding: 2rem;
    margin-bottom: 1rem;
    background-color: #fff;
    border-radius: 10px;
}

img{
  height: 90% !important;
}

.post-list:hover{
    background-color: #222;
    color: #fcfcfc;
    border: 6px solid #2A22;
    text-decoration: none;
}

:not(pre) > code[class*="language-"], pre[class*="language-"] {
    background-color: #222;
    margin-bottom: 2%
}

code[class*="language-"], pre[class*="language-"] {
    color: #fcfcfc;
}
